.Navupper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 45px;
    position: sticky;
    z-index: 10;
    left: 0;
    top: 0px;
    width: 100%;
  background-image: url(https://w0.peakpx.com/wallpaper/158/57/HD-wallpaper-light-blue-rounds-blur-background-light-blue.jpg);
  background-repeat: no-repeat;
background-size: cover;
/* background-color: aqua; */
}
.navbar-light{
    width: 80%;
   display: flex;
   justify-content: flex-end;
   /* margin-right: 120px; */
}
.left-message a{
    position:absolute;
    left: 39px;
    top: 0;
    color:black;
    text-decoration: none;
    animation: slide 2s infinite;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 40px;
    border: 0px !important;
}
@keyframes slide{
    0% {
        transform: translateY(40px);
        opacity: 1;
    }
    5%, 50% {
        transform: translateY(0);
        opacity: 1;
    }
    51% {
        transform: translateY(-40px);
        opacity: 0;
    }
    51.1%, 100% {
        transform: translateY(40px);
        opacity: 0;
    }
}
@media (max-width: 1176px) {
    .Navupper{
        width: 100%;
        background-color: aqua;
    }



}

@media screen  and (max-width: 923px){
.navbar-light{
    width:100px;
   display: flex;
   justify-content: flex-end;
}
.left-message{
    display: none;
 }
}
@media screen  and (max-width: 519px){
    /* .left-message{
       display: none;
    } */
    .navbar-light{
        width: 100%;
        /* background-color: blue; */
        display: flex;
       margin-top: 22px;
       justify-content: flex-end;
    }
    }