/* search box styling */
.parentbox {

  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.Sign_In{
  margin-top: 45px;
}
.Search{
  width: 100%;
  margin: auto;
  position: absolute;
  z-index: 10;
  top: 70px;
  right: 10px;
}

/* .searchbar{
  position: sticky;
  top: 0;
  z-index: 11;
} */
.list{
  position: absolute;
  z-index: 99;
  top: 38px;
  background-color: #fff;
  width: 100%;
  font-size: 0.9rem;
}
.list a{
  text-decoration: none;
  font-weight: 500;
  color: #394657;
}
.searchbox {
  /* position: relative; */
  height: 40px;
  width: 100%;
  margin-top: 48px;
  /* background-color: yellow; */


}



.search {
  /* position: relative; */
  border-radius: 20px;
  height: 35px;
  width: 400px;
}
.serachbtn{
  /* position: absolute; */
  font-size: 20px;
  /* margin-top: 20px; */
  top: 7px;
  right: 110px;
  background-color: white;
  border: none;
}

.btn {
/* margin-top: 120px; */
  height: 50px;
  width: 70px;
 

  border: none;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  background-color: #E80071;
  color: #ffffff;
}

.btn:hover {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.34);
}

.cart {
  color: #E80071
}

.carto {
  font-size: 30px;
  right: 120px;
  color: gray;
}


.searchbox {
  position: relative;
  display: flex;
  gap: 10px;

}

/* @media (max-width: 1376px) {
  .parentbox {
    justify-content: center;
    gap: 20px;
  }

  .btn {
    width: auto;
    margin-top: 50px;
  }

  .searchbox input {
    width:210px ;
  }
 
} */

@media (max-width: 1476px) {
  .parentbox {
    justify-content: center;
    gap: 20px;
  }


  .searchbox input {
    width:270px ;
  }
 
}

.navbar {
  margin-top: 18px;
}

.list {
  position: absolute;
  z-index: 99;
  top: 38px;
  background-color: #fff;
  width: 100%;
  font-size: 0.9rem;
}

.list a {
  text-decoration: none;
  font-weight: 500;
  color: #ca1274;
}
@media (max-width: 1476px) {
  .searchbox input {
    width:170px ;
  }
}
@media (max-width: 1212px) {
  .searchbox input {
    width:120px ;
  }
}
@media (max-width: 1176px) {
  .searchbox input {
    width:520px ;
    margin-left: 150px;
  }
  .btn{
   
    margin-right: 70px;
  }
}
@media (max-width: 989px) {
  .searchbox input {
    width:360px ;
    margin-left: 150px;
  }
  .btn{
   
    margin-right: 70px;
  }
}
@media (max-width: 838px) {
  .searchbox input {
    width:300px ;
    margin-left: 120px;
  }
  .btn{
   
    margin-right: 70px;
  }
}
@media (max-width: 734px) {
  .searchbox input {
    width:200px ;
    margin-left: 60px;
  }
  .btn{
   
    margin-right: 70px;
  }
}
@media (max-width: 569px) {
  .searchbox input {
    width:100px ;
    margin-left: 60px;
  }
  .btn{
   
    margin-right: 70px;
  }
}
@media (max-width: 460px) {
  .searchbox input {
    width:50px ;
margin-left: 40px;
   /* display: none; */
  }
  .serachbtn{
    /* margin-left: 120px; */
  }
  
  .btn{
   
    margin-right: 70px;
  }
}
@media (max-width: 400px) {
  .searchbox input {
  
   display: none;
  }
  .serachbtn{
    margin-left: 120px;
  }
  
  .btn{
   
    margin-right: 70px;
  }
}
/* @media (max-width: 680px) {
  .searchbox input {
    width:300px ;
    margin-left: 60px;
  }
  .btn{
   
    margin-right: 70px;
  }
} */
/* @media (max-width: 436px) {
  .searchbox input {
    display: none;

  }

  .serachicon {
    color: gray;
    position: absolute;
    top: 5px;
    left: -30px;
    cursor: pointer;
    border: 2px sild gray;
  }
} */









/* .navbar-brand h2{
  font-size: 2rem;
}
.navbar{
  padding: 0 !important;
  background-color: #394657 !important;
  position: relative;
}

.navbar-brand h2 span{
  font-size: 3rem;
  color: #4444ab;
}
.cart_and_Sign_In{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Sign_In a{
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 2px;
  border: 1px solid #131921;
  border-radius: 2px;
  padding: 8px;
}
.Sign_In a:hover{
  border: 1px solid white;
}
.cart_icon #icon{
  margin-right: 10px;
  color: #fff;
  margin-top: 2px;
}
.Search{
  width: 40%;
  margin: auto;
  position: absolute;
  z-index: 10;
  top: 70px;
  right: 10px;
}
.searchbar{
  position: sticky;
  top: 0;
  z-index: 11;
}
.list{
  position: absolute;
  z-index: 99;
  top: 38px;
  background-color: #fff;
  width: 100%;
  font-size: 0.9rem;
}
.list a{
  text-decoration: none;
  font-weight: 500;
  color: #394657;
}



@media screen and (max-width : 972px) {
  .Search{
      width: 60%;
  }
}

@media screen and (max-width : 333px) {
  .cart_and_Sign_In {
      gap: 8px;
  }
} */
