.different{
   height:100px;
   width: 100%;
   display:flex;
   /* background-color: red; */

   justify-content:space-evenly;
}
.item img{
  height:100px;
   width:100px;
   border-radius: 50%;
}
.item {
    height:100%;
     width:100%;
     border-radius: 50%;
  }
  @media (max-width: 711px) {
   .different{
      display: none;
   }
   .item{
     display: none;
    }
  }
  /* @media (min-width: 712px){
   .different{
     
   }
  } */